---
// @ts-ignore
import { Icon } from "astro-icon";

const features = [
  {
    title: "Ai Chatbot",
    description:
      "Enhance user engagement and support by implementing an AI-powered chatbot that can provide automated responses and assist users with their queries.",
    icon: "bx:bxs-chat",
  },
  {
    title: "Train Your Own Neural Network",
    description:
      "Gain the ability to train and customize your own neural network, enabling you to develop advanced machine learning models tailored to your specific needs.",
    icon: "bx:bxs-brain",
  },
  {
    title: "Create an AI Model",
    description:
      "Build sophisticated AI models to solve complex problems and make accurate predictions by leveraging the power of machine learning algorithms and data analysis.",
    icon: "bx:bxs-cog",
  },
  {
    title: "Task Automation",
    description:
      "Automate repetitive tasks and streamline workflows using AI algorithms, freeing up valuable time and resources for more important activities.",
    icon: "bx:bxs-bot",
  },
  {
    title: "Deploy Ai solution",
    description:
      "Seamlessly integrate and deploy your AI solution into your existing infrastructure or software ecosystem, ensuring efficient implementation and smooth operation.",
    icon: "bx:bxs-server",
  },
  {
    title: "Data Analysis and Insights",
    description:
      "Leverage AI algorithms to analyze large volumes of data, extract meaningful insights, and make data-driven decisions that drive business growth and optimization.",
    icon: "bx:bxs-bar-chart-alt-2",
  },
];
---

<div class="mt-16 md:mt-0">
  <h2 class="text-4xl lg:text-5xl font-bold lg:tracking-tight">
    Get the most out of AI
  </h2>
  <p class="text-lg mt-4 text-slate-600">
    At Unravel ai our experts will help you understand the potential of AI and
    how to use it to your advantage.
  </p>
</div>

<div class="grid sm:grid-cols-2 md:grid-cols-3 mt-16 gap-16">
  {
    features.map((item) => (
      <div class="flex gap-4 items-start">
        <div class="mt-1 bg-black rounded-full  p-2 w-8 h-8 shrink-0">
          <Icon class="text-white" name={item.icon} />
        </div>
        <div>
          <h3 class="font-semibold text-lg">{item.title}</h3>{" "}
          <p class="text-slate-500 mt-2 leading-relaxed">{item.description}</p>
        </div>
      </div>
    ))
  }
</div>
