---
import Hero from "@components/herotext";
import { Icon } from "astro-icon";
import Link from "@components/ui/link.astro";
import HeroImage from '@components/HeroImage'
---

<main
  class="grid lg:grid-cols-2 place-items-center pt-16 pb-8 md:pt-12 md:pb-24">
   <HeroImage client:load/>
  <div>
    <Hero client:load/>
    <div class="mt-6 flex flex-col sm:flex-row gap-3">
      <Link
        href="/contact"
        class="flex gap-1 items-center justify-center"
        rel="noopener">
        <Icon class="text-white w-5 h-5" name="bx:bxs-contact" />
        Contact Us
      </Link>
      <Link
        size="lg"
        style="outline"
        rel="noopener"
        href="/about"
        class="flex gap-1 items-center justify-center">
        <Icon class="text-black w-4 h-4" name="bx:bxs-book-content" />
        Read More
      </Link>
    </div>
  </div>
</main>
